// khởi tạo của css(*,html)

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.app{
    overflow-x: hidden;
}
