
.u-bold{
    font-weight: 700 !important;
}

.u-margin-top-big{
    margin-top: 50px !important;
}

.u-separate{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height:100%;
        width:1px;
        background-color:rgba($color-white,.6);
        top:0;
        right:-.75rem;

    }
}

.u-no-margin{
    margin-left:0;
}

.u-notify-item-viewed{
    background-color:rgba($color-primary,.1);
}

.u-padding-medium{
    padding: 16px 0;
}