$color-white:#fff;
$color-black:#000;
$color-text:#333;
$color-orange-dark:rgb(233, 50, 34);
$color-orange-light:#FE6332;
$color-gray:#C1C1C1;
$color-gray-light-1:#EDEDED;
$color-gray-text:#666;
$color-primary:#EE4D2D;
$color-gray-light:#f5f5f5;
$color-blue-dark:#3a5a98;
$select-width:120px;
$color-green:rgb(18, 171, 176);
$color-star: #ffce3e;
$color-heart:#f63d30;
$color-item-blue:#87afd8;
$color-item-green: #76c98d;
$color-item-green-1: #88cf81;